<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="container"> <a class="navbar-brand" href="#">
                <i class="fa d-inline fa-lg fa-stop-circle"></i>
                <b> DevConnect</b>
            </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar16">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar16">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a class="nav-link" href="#">Welcome</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">User</a> </li>
                </ul> <a class="btn navbar-btn ml-md-2 btn-light text-dark">Logout</a>
            </div>
        </div>
    </nav>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="ml-auto col-lg-7 text-center text-lg-left">
                    <h1>Stuck somehere?</h1>
                    <p class="mb-0">Get help from mentors out there!</p>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center p-3">
                    <form class="form-inline mb-0">
                        <div class="input-group"> <input type="email" class="form-control" placeholder="Your problem domain"
                                id="form2">
                            <div class="input-group-append"> <button class="btn btn-primary" type="button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"> Lal Rishav
                            (Expert)
                            <span class="btn btn-primary">Connect</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"> Shubham Prasad
                            (Expert)
                            <span class="btn btn-primary">Connect</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous" style=""></script>
</body>

</html>