<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b> DevConnect</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
        data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">FAQ</a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-light text-dark" href="/">Login</a>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center w-100 h-100" style="background-image: url(&quot;code-2620118-796x531.jpg&quot;); background-size: cover;	background-position: top left;	background-repeat: repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto col-md-6 col-10 bg-white p-5" style="">
          <h1 class="mb-4">Registration</h1>
          <form>
            <div class="form-group"> <input type="text" class="form-control" placeholder="Name" id="form11">
            </div>
            <div class="form-group"> <input type="email" class="form-control" placeholder="Email" id="form9">
            </div>
            <div class="form-group"> <input type="text" class="form-control" placeholder="Userid" id="form12">
            </div>
            <div class="form-group"> <input type="text" class="form-control" placeholder="Ethereum address" id="form13">
            </div>
            <div class="form-group mb-3"> <input type="password" class="form-control" placeholder="Password" id="form10">
              <small class="form-text text-muted text-right"></small> </div>
          </form>
          <div class="btn-group" style="">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Skills</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" onclick="return addSkill('Java');">Java</a>
              <a class="dropdown-item" href="#" onclick="return addSkill('C++');">C++</a>
              <a class="dropdown-item" href="#" onclick="return addSkill('Python');">Python</a>
              <a class="dropdown-item" href="#" onclick="return addSkill('JavaScript');">JavaScript</a>
            </div>
          </div>
          <ul class="" id="skill_list">
          </ul><a class="btn btn-primary" href="#">Submit</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous" style=""></script>
  <script src="register.js"></script>
</body>

</html>